$status-bar-background-color: #4f3b55;
$darker-status-bar-color: #3c2c41;
$darkened-status-bar-color: rgb(51, 16, 59);  

.scriptingToolBar {
  height: 100%;
  display: flex;
  margin: 0 5px;
  gap: 10px;
  color: white;
  align-items: center;
  display:flex;
  justify-content:space-between;
}

.scriptingToolBar > .scriptingToolBarLeft {
  display:flex;
  align-items:center;
  gap:10px;
  height:100%;
}

.scriptingToolBar > .scriptingToolBarLeft > select {
  background-color: $status-bar-background-color;
  color: white;
  border: none;
  font-size: 13px;
  border:none;
  height:100%;
  padding-top:2px;
}

.scriptingToolBar > .scriptingToolBarLeft > select:hover {
  background-color: $darkened-status-bar-color;
}

.scriptingToolBar > .scriptingToolBarLeft >.scriptingToolBarLabel {
  font-size: 13px;
  display:flex;
  align-items:center;
}
.scriptingToolBarButton {
  font-size: 13px;
  display:flex;
  align-items:center;
  cursor:pointer;
  background-color: $darker-status-bar-color;
  padding: 3px;
  border-radius: 4px;
}

.scriptingToolBarButton:hover {
  background-color: $darkened-status-bar-color;
}
.scriptingToolBar > .scriptingToolBarRight {
  display:flex;
  align-items:center;
  gap:10px;
}