@use "sass:color";

$status-bar-background-color: #68217a;
$darkened-status-bar-color: #481655;  

.status-bar {
  position:relative;
  height:100%;
  display:flex;
  align-items: center;
  font-size: 14px;
  color: white;
  justify-content: space-between;
  background-color: $status-bar-background-color;
}

.status-left {
  float: left;
  display: flex;
  flex-direction: row;
  height: 100%;
  display: flex;
  align-items: center;
  gap:10px;
}

.status-right {
  float: right;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  gap:10px;
}

.status-item {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 7px;
}

.status-item-button {
  background-color: $status-bar-background-color;
  border: none;
  color: inherit;
  cursor: default;

  &:hover {
    background-color: $darkened-status-bar-color;
  }
}

.connectionColor {
  margin-right: 6px;
}

.status-left > .status-connected {
  // background-color: $darkened-status-bar-color;
  height:100%;
  display:flex;
  align-items: center;
  padding: 0 8px;
  font-size:14px;
  cursor:default;
}

.status-left > .status-connected:hover {
  background-color: $darkened-status-bar-color;
}

.status-left > .edit-name {
  cursor: pointer;
  height:100%;
  display:flex;
  align-items: center;
  padding:0 10px;
}

.status-left > .edit-name:hover {
  background-color: $darkened-status-bar-color;
}

.status-right > .status-message {
  margin-right:10px
}

.status-bar-select {
  display: flex;
  align-items: center;
  height: 100%;
}

.status-bar-select > select {
  background-color: $status-bar-background-color;
  color: white;
  border: none;
  font-size: 14px;
  border:none;
  height:100%;
  padding:0 10px;
}

.status-bar-select > select:hover {
  background-color: $darkened-status-bar-color;
}

.status-bar-select > select:active,
.status-bar-select > select:focus,
.status-bar-select > select:focus-visible {
  outline: none !important;
}